.panel {
  border-radius: 0px;
}

.light-login {
    background-size: cover;
}

.thumbnail {
  border-radius: 0px;
}
.input-group .form-control, .input-group-addon, .input-group-btn {
  display: table-cell;
}
.user-info{max-width:200px}
.selected_info{color:red;}