.panel {
  border-radius: 0px;
}

.light-login {
    background-size: cover;
}

.thumbnail {
  border-radius: 0px;
}
.input-group .form-control, .input-group-addon, .input-group-btn {
  display: table-cell;
}
.user-info{max-width:200px}
.selected_info{color:red;}
.checkbox, .radio {margin-top: 0px;}

.spinbox-buttons.btn-group-vertical>.btn{
	font-size: 10px;
    padding: 0;
    width: 22px;
    height: 16px;
    line-height: 8px;
    margin-left: 0;
}